html, body, h1 {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: none;

  background-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 28px;
}

canvas {
  margin: 30px;
  width: 300px;
  height: 300px;
  background-color: black;
}

section {
  display: flex;
  flex-direction: row;
}

a {
  height: 100px;
  width: 100px;
  background-size: cover;
}
a:nth-of-type(1) {
  background-image: url("github.png");
}
a:nth-of-type(2) {
  background-image: url("linkedin.png");
}
a:nth-of-type(3) {
  background-image: url("home.png");
}
