html, body, h1, p, a, main, article, canvas, footer, i {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: none;

  background-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #36454f;
  font-family: 'Baloo Da', cursive;
}

a {
  cursor: pointer;
}

main {
  position: relative;
  height: 605px;
  width: 605px;
  margin: 5px;
}

h1 {
  font-size: 72px;
}

.btn {
  border: 4px solid #36454f;
  padding: 5px 10px;
  margin: 10px;
  font-size: 28px;
}

.instructions {
  font-size: 22px;
}

.main-menu {
  z-index: 2;
  position: absolute;
  width: 600px;
  height: 600px;
  padding: 5px;
  background-color: #F5F1DE;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction-menu {
  z-index: 2;
  position: absolute;
  width: 600px;
  height: 600px;
  padding: 5px;
  background-color: #F5F1DE;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  z-index:2;
  position: absolute;
  padding: 5px;
  background-color: #F5F1DE;
}

.game-over {
  z-index: 2;
  position: absolute;
  width: 600px;
  height: 600px;
  padding: 5px;
  background-color: #F5F1DE;
  text-align: center;
}

.score {
  margin-bottom: 28px;
}

footer {
  width: 605px;
}

footer p {
  float: left;
}

footer a {
  float:right;
  margin-left: 5px;
  color: #36454f;
}

.hide {
  z-index: 1;
}
